input[type=submit] {
    max-width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 45%;
	margin-top: 10px;
	position: relative;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}